@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
}
button{
  border:0px;
  padding: 15px;
  margin:10px;
  padding-right: 25px;
  padding-left: 25px;
  
}
button:hover{
  box-shadow: 1px 1px 2px black;
}
.main_word{
  text-align: center;
}
.main_div{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal controllers here */
.modal, .modal_1, .modal_2, .modal_3{
	display: none;
	padding-top: 70px;
	z-index: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	 background-color: rgba(0,0,0,0.4);
	overflow: auto;
	animation: ease-in;
	animation-duration: 1s;
	 -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.modal_c, .modal1_c, .modal2_c, .modal3_c{
	background-color: white;
	color: black;
	padding: 30px;
	width: 40%;
	margin: auto;
	text-align: center;
}
.content{
  margin:15px;
}

/*animations here */
@-webkit-keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
.close{
float: right;
	font-size: 30px;
	margin-top: -35px;
	cursor: pointer;
	color: #466dff;
}
.close:hover{
	color: black;
}

/* style mentor page here */
.m_word{
  text-align: center;
}
.mentorAction{

display: flex;
justify-content: center;
}

/* mentee response here */

.mentee{
display: none;
}
.ment{
  display: flex;
  justify-content: center;
  border-radius: 20px;



}
.men{
    background-color: aquamarine;
  text-align: center;
width: 500px;
border-radius: 20px;

padding: 30px;
box-shadow: 1px 1px 2px black;
}
